root=true

[*]
charset=utf-8-bom
end_of_line=crlf
trim_trailing_whitespace=true
insert_final_newline=true
max_line_length = 140

[*.{js,less,scss,css,json,yml,cshtml,html,md}]
indent_size=2
indent_style=space

[*.cs]
# ReSharper properties
resharper_arguments_named=positional
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_apply_on_completion=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_around_single_line_property=1
resharper_can_use_global_alias=false
resharper_csharp_align_multiline_expression=false
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_new_line_before_while=true
resharper_csharp_stick_comment=false
resharper_csharp_use_indent_from_previous_element=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_align_multiline_argument=false
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_ternary_expr_style=chop_always
resharper_keep_existing_expr_member_arrangement=false
resharper_wrap_after_invocation_lpar=false
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_multiple_declaration_style=chop_always
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_enforce_line_ending_style=true
resharper_keep_existing_declaration_block_arrangement=true
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_embedded_block_arrangement=false
resharper_keep_existing_enum_arrangement=true
resharper_keep_existing_initializer_arrangement=true
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_switch_expression_arrangement=false
resharper_local_function_body=expression_body
resharper_max_array_initializer_elements_on_line=2
resharper_max_attribute_length_for_same_line=40
resharper_max_enum_members_on_line=1
resharper_max_formal_parameters_on_line=5
resharper_max_initializer_elements_on_line=1
resharper_max_invocation_arguments_on_line=5
resharper_nested_ternary_style=expanded
resharper_outdent_binary_ops=false
resharper_outdent_commas=true
resharper_outdent_dots=false
resharper_parentheses_redundancy_style=remove
resharper_place_attribute_on_same_line=false
resharper_place_linq_into_on_new_line=false
resharper_place_simple_embedded_statement_on_same_line=false
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_method_on_single_line=true
resharper_place_simple_switch_expression_on_single_line=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_continuous_indent_inside_parens=false
resharper_use_indent_from_vs=false
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_arrow_with_expressions=true
resharper_wrap_before_extends_colon=true
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_enum_declaration=wrap_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_multiple_type_parameter_constraints_style=chop_always
resharper_wrap_verbatim_interpolated_strings=wrap_if_long
resharper_xml_indent_text=ZeroIndent

# ReSharper highlighting
resharper_arguments_style_named_expression_highlighting=none
resharper_arrange_attributes_highlighting=suggestion
resharper_arrange_local_function_body_highlighting=suggestion
resharper_class_never_instantiated_global_highlighting=hint
resharper_unused_auto_property_accessor_global_highlighting=hint
resharper_unused_member_global_highlighting=hint
resharper_comment_typo_highlighting=none
resharper_convert_closure_to_method_group_highlighting=hint
resharper_identifier_typo_highlighting=none
resharper_inconsistent_naming_highlighting=warning
resharper_string_literal_typo_highlighting=none
resharper_localizable_element_highlighting=none
resharper_route_templates_controller_route_parameter_is_not_passed_to_methods_highlighting=suggestion
resharper_route_templates_method_missing_route_parameters_highlighting=suggestion
resharper_route_templates_route_parameter_constraint_not_resolved_highlighting=suggestion
resharper_unused_method_return_value_global_highlighting=suggestion
resharper_unused_method_return_value_local_highlighting=suggestion

# Упорядочение Using
dotnet_separate_import_directive_groups=false
dotnet_sort_system_directives_first=true
file_header_template = unset

# Предпочтения для this. и Me.
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning

# Параметры использования ключевых слов языка и типов BCL
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning

# Предпочтения для скобок
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion

# Предпочтения модификатора
dotnet_style_require_accessibility_modifiers=for_non_interface_members:warning

# Выражения уровень предпочтения
csharp_style_deconstructed_variable_declaration=true:suggestion
csharp_style_inlined_variable_declaration=true:suggestion
csharp_style_throw_expression=true:suggestion
dotnet_style_coalesce_expression=true:warning
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:warning
dotnet_style_null_propagation=true:warning
dotnet_style_object_initializer=true:suggestion
dotnet_style_prefer_auto_properties=true:warning
dotnet_style_prefer_compound_assignment=true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment=true:suggestion
dotnet_style_prefer_conditional_expression_over_return=true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names=true:suggestion
dotnet_style_prefer_inferred_tuple_names=true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion
dotnet_style_prefer_foreach_explicit_cast_in_source = when_strongly_typed
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
csharp_prefer_simple_default_expression=true:suggestion
csharp_style_pattern_local_over_anonymous_function=true:suggestion
csharp_style_prefer_index_operator=true:warning
csharp_style_prefer_range_operator=true:warning
csharp_style_unused_value_assignment_preference=discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference=discard_variable:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion

# Предпочтения для полей
dotnet_style_readonly_field=true:warning

# Предпочтения для новых строк
dotnet_style_allow_multiple_blank_lines_experimental = true:suggestion
dotnet_style_allow_statement_immediately_after_block_experimental = false:suggestion
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false:suggestion
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = false:suggestion
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false:suggestion
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = false:suggestion

# Настройки параметров
dotnet_code_quality_unused_parameters=all:suggestion

# Параметры подавления
dotnet_remove_unnecessary_suppression_exclusions = none

#### Рекомендации по написанию кода C# ####

# Предпочтения var
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion

# Члены, заданные выражениями
csharp_style_expression_bodied_accessors=true:suggestion
csharp_style_expression_bodied_constructors=true:suggestion
csharp_style_expression_bodied_indexers=true:suggestion
csharp_style_expression_bodied_lambdas=true:suggestion
csharp_style_expression_bodied_local_functions=true:suggestion
csharp_style_expression_bodied_methods=true:suggestion
csharp_style_expression_bodied_operators=true:suggestion
csharp_style_expression_bodied_properties=true:suggestion

# Настройки соответствия шаблонов
csharp_style_pattern_matching_over_as_with_null_check=true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check=true:suggestion
csharp_style_prefer_switch_expression=true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion

# Настройки проверки на null
csharp_style_conditional_delegate_call=true:warning

# Предпочтения модификатора
csharp_prefer_static_local_function=true:suggestion
csharp_preferred_modifier_order=public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion

# Предпочтения для блоков кода
csharp_prefer_braces=true:warning
csharp_prefer_simple_using_statement=true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_method_group_conversion = true:suggestion
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_prefer_top_level_statements = true:suggestion

# предпочтения для директивы using
csharp_using_directive_placement=outside_namespace:warning

#### Правила форматирования C# ####

# Предпочтения для новых строк
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_open_brace=all
csharp_new_line_between_query_expression_clauses=true

# Предпочтения для отступов
csharp_indent_block_contents=true
csharp_indent_braces=false
csharp_indent_case_contents=true
csharp_indent_case_contents_when_block=false
csharp_indent_labels=no_change
csharp_indent_switch_labels=true

# Предпочтения для интервалов
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_declaration_statements=false
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false

# Предпочтения переноса
csharp_preserve_single_line_blocks=true
csharp_preserve_single_line_statements=true

#### Стили именования ####

# Спецификации символов

dotnet_naming_symbols.interface.applicable_kinds=interface
dotnet_naming_symbols.interface.applicable_accessibilities=public, internal, private, protected, protected_internal
dotnet_naming_symbols.interface.required_modifiers=

dotnet_naming_symbols.типы.applicable_kinds=class, struct, interface, enum
dotnet_naming_symbols.типы.applicable_accessibilities=public, internal, private, protected, protected_internal
dotnet_naming_symbols.типы.required_modifiers=

dotnet_naming_symbols.не_являющиеся_полем_члены.applicable_kinds=property, event, method
dotnet_naming_symbols.не_являющиеся_полем_члены.applicable_accessibilities=public, internal, private, protected, protected_internal
dotnet_naming_symbols.не_являющиеся_полем_члены.required_modifiers=

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_symbols.private_static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_fields.required_modifiers = static, readonly

dotnet_naming_symbols.private_const_fields.applicable_kinds = field
dotnet_naming_symbols.private_const_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_const_fields.required_modifiers = const

dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.interfaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.interfaces_symbols.applicable_kinds=interface
dotnet_naming_symbols.method_symbols.applicable_accessibilities=*
dotnet_naming_symbols.method_symbols.applicable_kinds=method
dotnet_naming_symbols.property_symbols.applicable_accessibilities=*
dotnet_naming_symbols.property_symbols.applicable_kinds=property
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds=namespace,class,struct,enum,delegate

# Стили именования

dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case

dotnet_naming_style.i_upper_camel_case_style.required_prefix=I
dotnet_naming_style.i_upper_camel_case_style.capitalization=pascal_case

dotnet_naming_style.underscored.capitalization=camel_case
dotnet_naming_style.underscored.required_prefix=_

# Правила именования

dotnet_naming_rule.interface_should_be_i_upper_camel_case_style.severity=warning
dotnet_naming_rule.interface_should_be_i_upper_camel_case_style.symbols=interface
dotnet_naming_rule.interface_should_be_i_upper_camel_case_style.style = i_upper_camel_case_style

dotnet_naming_rule.типы_should_be_upper_camel_case_style.severity=warning
dotnet_naming_rule.типы_should_be_upper_camel_case_style.symbols=типы
dotnet_naming_rule.типы_should_be_upper_camel_case_style.style = upper_camel_case_style

dotnet_naming_rule.не_являющиеся_полем_члены_should_be_upper_camel_case_style.severity=warning
dotnet_naming_rule.не_являющиеся_полем_члены_should_be_upper_camel_case_style.symbols=не_являющиеся_полем_члены
dotnet_naming_rule.не_являющиеся_полем_члены_should_be_upper_camel_case_style.style = upper_camel_case_style

dotnet_naming_rule.private_fields_underscored.severity=warning
dotnet_naming_rule.private_fields_underscored.symbols=private_fields
dotnet_naming_rule.private_fields_underscored.style=underscored

dotnet_naming_rule.private_fields_underscored.severity=warning
dotnet_naming_rule.private_fields_underscored.symbols=private_fields
dotnet_naming_rule.private_fields_underscored.style=underscored

dotnet_naming_rule.private_static_fields_none.severity=warning
dotnet_naming_rule.private_static_fields_none.symbols=private_static_readonly_fields
dotnet_naming_rule.private_static_fields_none.style = upper_camel_case_style

dotnet_naming_rule.private_const_fields.severity=warning
dotnet_naming_rule.private_const_fields.symbols=private_const_fields
dotnet_naming_rule.private_const_fields.style = upper_camel_case_style

dotnet_naming_rule.event_rule.severity = none
dotnet_naming_rule.event_rule.style = upper_camel_case_style
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.interfaces_rule.severity = none
dotnet_naming_rule.interfaces_rule.style = i_upper_camel_case_style
dotnet_naming_rule.interfaces_rule.symbols=interfaces_symbols
dotnet_naming_rule.method_rule.severity = none
dotnet_naming_rule.method_rule.style = upper_camel_case_style
dotnet_naming_rule.method_rule.symbols=method_symbols
dotnet_naming_rule.property_rule.severity = none
dotnet_naming_rule.property_rule.style = upper_camel_case_style
dotnet_naming_rule.property_rule.symbols=property_symbols
dotnet_naming_rule.types_and_namespaces_rule.severity = none
dotnet_naming_rule.types_and_namespaces_rule.style = upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols=types_and_namespaces_symbols


#### Общие диагностические правила ####

# Missing XML comment for publicly visible type or member
# https://learn.microsoft.com/ru-ru/dotnet/csharp/language-reference/compiler-messages/cs1591
dotnet_diagnostic.CS1591.severity=none

# Mark enums with FlagsAttribute
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1027?view=vs-2019
dotnet_diagnostic.ca1027.severity=silent
# Implement standard exception constructors
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1032?view=vs-2019
dotnet_diagnostic.ca1032.severity=silent
# Nested types should not be visible
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1034?view=vs-2019
dotnet_diagnostic.ca1034.severity=silent
# Use resource string
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1303?view=vs-2019
dotnet_diagnostic.ca1303.severity=silent
# Identifiers should not contain underscores
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1707?view=vs-2019
dotnet_diagnostic.ca1707.severity=silent
# Identifiers should be cased correctly
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1709?view=vs-2019
dotnet_diagnostic.ca1709.severity=silent
# Identifiers should have correct suffix
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1710?view=vs-2019
dotnet_diagnostic.ca1710.severity=silent
# Do not prefix enum values with type name
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1712?view=vs-2019
dotnet_diagnostic.ca1712.severity=silent
# Do not mark enums with FlagsAttribute
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2217?view=vs-2019
dotnet_diagnostic.ca2217.severity=silent
# Consider passing base types as parameters
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1011?view=vs-2019
dotnet_diagnostic.ca1011.severity=silent
# Avoid out parameters
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1021?view=vs-2019
dotnet_diagnostic.ca1021.severity=silent
# Review misleading field names
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1504?view=vs-2019
dotnet_diagnostic.ca1504.severity=silent
# Avoid unsealed attributes
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1813?view=vs-2019
dotnet_diagnostic.ca1813.severity=silent
# CS8509: Выражение switch обрабатывает не все возможные значения своего типа входных данных (оно не полное).
dotnet_diagnostic.cs8509.severity=silent
# IDE0055: Исправить форматирование
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0055
dotnet_diagnostic.IDE0055.severity=silent

# IDE0036: Order modifiers
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/IDE0036
dotnet_diagnostic.IDE0036.severity=suggestion
# Remove unnecessary expression value
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0058
dotnet_diagnostic.IDE0058.severity = suggestion
# Mark members as static
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1822?view=vs-2019
dotnet_diagnostic.ca1822.severity=suggestion
# Do not directly await a Task
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2007?view=vs-2019
dotnet_diagnostic.ca2007.severity=suggestion
# Do not ignore method results
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1806?view=vs-2019
dotnet_diagnostic.ca1806.severity=suggestion

# Avoid excessive parameters on generic types
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1005?view=vs-2019
dotnet_diagnostic.ca1005.severity=warning
# Overload operator equals on overloading add and subtract
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1013?view=vs-2019
dotnet_diagnostic.ca1013.severity=warning
# Mark attributes with AttributeUsageAttribute
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1018?view=vs-2019
dotnet_diagnostic.ca1018.severity=warning
# Use properties where appropriate (exclude by System.Diagnostics.DebuggerBrowsableAttribute)
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1024?view=vs-2019
dotnet_diagnostic.ca1024.severity=warning
# Do not pass types by reference
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1045?view=vs-2019
dotnet_diagnostic.ca1045.severity=warning
# Do not declare visible instance fields
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1051?view=vs-2019
dotnet_diagnostic.ca1051.severity=warning
# Validate arguments of public methods
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1062?view=vs-2019
dotnet_diagnostic.ca1062.severity=warning
dotnet_code_quality.ca1062.null_check_validation_methods=IsNotNull|IsNotNullOrEmpty|IsNotNullOrWhiteSpace|IsNotNullOrEmptySequence|IsNotDefault
# Do not raise exceptions in unexpected locations
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1065?view=vs-2019
dotnet_diagnostic.ca1065.severity=warning
# CancellationToken parameters must come last
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1068?view=vs-2019
dotnet_diagnostic.ca1068.severity=warning
# Specify StringComparison
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1307?view=vs-2019
dotnet_diagnostic.ca1307.severity=warning
# Use ordinal StringComparison
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1309?view=vs-2019
dotnet_diagnostic.ca1309.severity=warning
# Avoid excessive complexity
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1502?view=vs-2019
dotnet_diagnostic.ca1502.severity=warning
# Avoid unmaintainable code
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1505?view=vs-2019
dotnet_diagnostic.ca1505.severity=warning
# Avoid excessive class coupling
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1506?view=vs-2019
dotnet_diagnostic.ca1506.severity=warning
# Identifiers should be spelled correctly
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1704?view=vs-2019
dotnet_diagnostic.ca1704.severity=warning
# Identifiers should not have incorrect suffix
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1711?view=vs-2019
dotnet_diagnostic.ca1711.severity=warning
# Identifiers should have correct prefix
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1715?view=vs-2019
dotnet_diagnostic.ca1715.severity=warning
# Type names should not match namespaces
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1724?view=vs-2019
dotnet_diagnostic.ca1724.severity=warning
# Do not cast unnecessarily
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1800?view=vs-2019
dotnet_diagnostic.ca1800.severity=warning
# Review unused parameters
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1801?view=vs-2019
dotnet_diagnostic.ca1801.severity=warning
# Use Literals Where Appropriate
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1802?view=vs-2019
dotnet_diagnostic.ca1802.severity=warning
# Remove unused locals
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1804?view=vs-2019
dotnet_diagnostic.ca1804.severity=warning
# Avoid excessive locals
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1809?view=vs-2019
dotnet_diagnostic.ca1809.severity=warning
# Avoid uncalled private code
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1811?view=vs-2019
dotnet_diagnostic.ca1811.severity=warning
# Avoid uninstantiated internal classes
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1812?view=vs-2019
dotnet_diagnostic.ca1812.severity=warning
# Override equals and operator equals on value types
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1815?view=vs-2019
dotnet_diagnostic.ca1815.severity=warning
dotnet_code_quality.ca1815.api_surface=public, internal, protected, protected_internal
# Properties should not return arrays
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1819?view=vs-2019
dotnet_diagnostic.ca1819.severity=warning
# Test for empty strings using string length
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1820?view=vs-2019
dotnet_diagnostic.ca1820.severity=warning
# Remove empty finalizers
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1821?view=vs-2019
dotnet_diagnostic.ca1821.severity=warning
# Avoid unused private fields
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca1823?view=vs-2019
dotnet_diagnostic.ca1823.severity=warning
# Review SQL queries for security vulnerabilities
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2100?view=vs-2019
dotnet_diagnostic.ca2100.severity=warning
# Rethrow to preserve stack details
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2200?view=vs-2019
dotnet_diagnostic.ca2200.severity=warning
# Do Not Use Weak Cryptographic Algorithms
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca5330?view=vs-2019
dotnet_diagnostic.ca5350.severity=warning
# Do Not Use Broken Cryptographic Algorithms
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca5351?view=vs-2019
dotnet_diagnostic.ca5351.severity=warning
# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.cs8625.severity=warning

# Do not lock on objects with weak identity
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2002?view=vs-2019
dotnet_diagnostic.ca2002.severity=error
# Non-constant fields should not be visible
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2211?view=vs-2019
dotnet_diagnostic.ca2211.severity=error
# Provide correct arguments to formatting methods
# https://docs.microsoft.com/ru-ru/visualstudio/code-quality/ca2241?view=vs-2019
dotnet_diagnostic.ca2241.severity=error
